<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Definitions.wxi ?>

  <Product Id="F42034CA-66F1-4598-A087-B5747D84D3C1"
           UpgradeCode="9da84f1d-597c-4cf7-871a-6d1d9317635b"
           Name="$(var.AppName)" 
           Language="1033"
           Version="1.0.0" 
           Manufacturer="Hakan Yildizhan">
    
		<Package Id="*"
             Description="Installer for Device Manager"
             Keywords="Installer"
             Manufacturer="Hakan Yildizhan"
             Platform="x64"
						 InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser"  />

    <!-- Downgrade error message -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

    <!-- Include .cab file into .msi file -->
		<MediaTemplate EmbedCab="yes" />

    <!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" 
             Title="DeviceManager.Client.Setup" 
             Display='expand' 
             Level='1' 
             ConfigurableDirectory='INSTALLFOLDER' AllowAdvertise='no' Absent='disallow'>

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
		</Feature>

    <!-- Define main app icon -->
    <Icon Id="icon.exe" SourceFile="$(var.BasePath)\DeviceManager.Client.TrayApp.exe" />
    <Property Id="ARPPRODUCTICON" Value="icon.exe" />

    <!-- App license -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
    
    <!-- Installer UI -->
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
	</Product>

</Wix>
