DECLARE @CurrentMigration [nvarchar](max)

IF object_id('[dbo].[__MigrationHistory]') IS NOT NULL
    SELECT @CurrentMigration =
        (SELECT TOP (1) 
        [Project1].[MigrationId] AS [MigrationId]
        FROM ( SELECT 
        [Extent1].[MigrationId] AS [MigrationId]
        FROM [dbo].[__MigrationHistory] AS [Extent1]
        WHERE [Extent1].[ContextKey] = N'DeviceManager.Entity.Migrations.Configuration'
        )  AS [Project1]
        ORDER BY [Project1].[MigrationId] DESC)

IF @CurrentMigration IS NULL
    SET @CurrentMigration = '0'

IF @CurrentMigration < '202003172007444_InitialCreate'
BEGIN
    CREATE TABLE [dbo].[Device] (
        [Id] [int] NOT NULL IDENTITY,
        [Name] [nvarchar](128),
        [FirmwareVersion] [nvarchar](max),
        [Address] [nvarchar](max),
        CONSTRAINT [PK_dbo.Device] PRIMARY KEY ([Id])
    )
    CREATE INDEX [IX_Name] ON [dbo].[Device]([Name])
    CREATE TABLE [dbo].[DeviceType] (
        [Name] [nvarchar](128) NOT NULL,
        CONSTRAINT [PK_dbo.DeviceType] PRIMARY KEY ([Name])
    )
    CREATE TABLE [dbo].[Session] (
        [Id] [int] NOT NULL IDENTITY,
        [StartedAt] [datetime] NOT NULL,
        [FinishedAt] [datetime] NOT NULL,
        [Device_Id] [int],
        [User_DomainUsername] [nvarchar](128),
        CONSTRAINT [PK_dbo.Session] PRIMARY KEY ([Id])
    )
    CREATE INDEX [IX_Device_Id] ON [dbo].[Session]([Device_Id])
    CREATE INDEX [IX_User_DomainUsername] ON [dbo].[Session]([User_DomainUsername])
    CREATE TABLE [dbo].[User] (
        [DomainUsername] [nvarchar](128) NOT NULL,
        [FriendlyName] [nvarchar](max),
        CONSTRAINT [PK_dbo.User] PRIMARY KEY ([DomainUsername])
    )
    ALTER TABLE [dbo].[Device] ADD CONSTRAINT [FK_dbo.Device_dbo.DeviceType_Name] FOREIGN KEY ([Name]) REFERENCES [dbo].[DeviceType] ([Name])
    ALTER TABLE [dbo].[Session] ADD CONSTRAINT [FK_dbo.Session_dbo.Device_Device_Id] FOREIGN KEY ([Device_Id]) REFERENCES [dbo].[Device] ([Id])
    ALTER TABLE [dbo].[Session] ADD CONSTRAINT [FK_dbo.Session_dbo.User_User_DomainUsername] FOREIGN KEY ([User_DomainUsername]) REFERENCES [dbo].[User] ([DomainUsername])
    CREATE TABLE [dbo].[__MigrationHistory] (
        [MigrationId] [nvarchar](150) NOT NULL,
        [ContextKey] [nvarchar](300) NOT NULL,
        [Model] [varbinary](max) NOT NULL,
        [ProductVersion] [nvarchar](32) NOT NULL,
        CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY ([MigrationId], [ContextKey])
    )
END

IF @CurrentMigration < '202003181531556_ImprovedModels'
BEGIN
    IF object_id(N'[dbo].[FK_dbo.Device_dbo.DeviceType_Name]', N'F') IS NOT NULL
        ALTER TABLE [dbo].[Device] DROP CONSTRAINT [FK_dbo.Device_dbo.DeviceType_Name]
    IF object_id(N'[dbo].[FK_dbo.Session_dbo.Device_Device_Id]', N'F') IS NOT NULL
        ALTER TABLE [dbo].[Session] DROP CONSTRAINT [FK_dbo.Session_dbo.Device_Device_Id]
    IF object_id(N'[dbo].[FK_dbo.Session_dbo.User_User_DomainUsername]', N'F') IS NOT NULL
        ALTER TABLE [dbo].[Session] DROP CONSTRAINT [FK_dbo.Session_dbo.User_User_DomainUsername]
    IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_Name' AND object_id = object_id(N'[dbo].[Device]', N'U'))
        DROP INDEX [IX_Name] ON [dbo].[Device]
    IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_Device_Id' AND object_id = object_id(N'[dbo].[Session]', N'U'))
        DROP INDEX [IX_Device_Id] ON [dbo].[Session]
    IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_User_DomainUsername' AND object_id = object_id(N'[dbo].[Session]', N'U'))
        DROP INDEX [IX_User_DomainUsername] ON [dbo].[Session]
    CREATE TABLE [dbo].[CommunicationModule] (
        [Type] [int] NOT NULL,
        CONSTRAINT [PK_dbo.CommunicationModule] PRIMARY KEY ([Type])
    )
    CREATE TABLE [dbo].[HMI] (
        [Type] [int] NOT NULL,
        [FirmwareVersion] [nvarchar](128) NOT NULL,
        CONSTRAINT [PK_dbo.HMI] PRIMARY KEY ([Type], [FirmwareVersion])
    )
    ALTER TABLE [dbo].[Device] ADD [DeviceType] [int] NOT NULL DEFAULT 0
    ALTER TABLE [dbo].[Device] ADD [Address2] [nvarchar](max)
    ALTER TABLE [dbo].[Device] ADD [AccessType] [int] NOT NULL DEFAULT 0
    ALTER TABLE [dbo].[Device] ADD [CommModule_Type] [int]
    ALTER TABLE [dbo].[Device] ADD [HMI_Type] [int]
    ALTER TABLE [dbo].[Device] ADD [HMI_FirmwareVersion] [nvarchar](128)
    ALTER TABLE [dbo].[Session] ADD [IsActive] [bit] NOT NULL DEFAULT 0
    DECLARE @var0 nvarchar(128)
    SELECT @var0 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'Name';
    IF @var0 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var0 + ']')
    ALTER TABLE [dbo].[Device] ALTER COLUMN [Name] [nvarchar](max) NOT NULL
    DECLARE @var1 nvarchar(128)
    SELECT @var1 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'FirmwareVersion';
    IF @var1 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var1 + ']')
    ALTER TABLE [dbo].[Device] ALTER COLUMN [FirmwareVersion] [nvarchar](max) NOT NULL
    DECLARE @var2 nvarchar(128)
    SELECT @var2 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'Address';
    IF @var2 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var2 + ']')
    ALTER TABLE [dbo].[Device] ALTER COLUMN [Address] [nvarchar](max) NOT NULL
    DECLARE @var3 nvarchar(128)
    SELECT @var3 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Session')
    AND col_name(parent_object_id, parent_column_id) = 'Device_Id';
    IF @var3 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Session] DROP CONSTRAINT [' + @var3 + ']')
    ALTER TABLE [dbo].[Session] ALTER COLUMN [Device_Id] [int] NOT NULL
    DECLARE @var4 nvarchar(128)
    SELECT @var4 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Session')
    AND col_name(parent_object_id, parent_column_id) = 'User_DomainUsername';
    IF @var4 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Session] DROP CONSTRAINT [' + @var4 + ']')
    ALTER TABLE [dbo].[Session] ALTER COLUMN [User_DomainUsername] [nvarchar](128) NOT NULL
    CREATE INDEX [IX_CommModule_Type] ON [dbo].[Device]([CommModule_Type])
    CREATE INDEX [IX_HMI_Type_HMI_FirmwareVersion] ON [dbo].[Device]([HMI_Type], [HMI_FirmwareVersion])
    CREATE INDEX [IX_Device_Id] ON [dbo].[Session]([Device_Id])
    CREATE INDEX [IX_User_DomainUsername] ON [dbo].[Session]([User_DomainUsername])
    ALTER TABLE [dbo].[Device] ADD CONSTRAINT [FK_dbo.Device_dbo.CommunicationModule_CommModule_Type] FOREIGN KEY ([CommModule_Type]) REFERENCES [dbo].[CommunicationModule] ([Type])
    ALTER TABLE [dbo].[Device] ADD CONSTRAINT [FK_dbo.Device_dbo.HMI_HMI_Type_HMI_FirmwareVersion] FOREIGN KEY ([HMI_Type], [HMI_FirmwareVersion]) REFERENCES [dbo].[HMI] ([Type], [FirmwareVersion])
    ALTER TABLE [dbo].[Session] ADD CONSTRAINT [FK_dbo.Session_dbo.Device_Device_Id] FOREIGN KEY ([Device_Id]) REFERENCES [dbo].[Device] ([Id]) ON DELETE CASCADE
    ALTER TABLE [dbo].[Session] ADD CONSTRAINT [FK_dbo.Session_dbo.User_User_DomainUsername] FOREIGN KEY ([User_DomainUsername]) REFERENCES [dbo].[User] ([DomainUsername]) ON DELETE CASCADE
    DROP TABLE [dbo].[DeviceType]
END

IF @CurrentMigration < '202003190702036_OrderNumbers'
BEGIN
    ALTER TABLE [dbo].[Device] ADD [OrderNumber] [nvarchar](max) NOT NULL DEFAULT ''
END

IF @CurrentMigration < '202003201517589_DefaultValues'
BEGIN
    DECLARE @var5 nvarchar(128)
    SELECT @var5 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Session')
    AND col_name(parent_object_id, parent_column_id) = 'StartedAt';
    IF @var5 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Session] DROP CONSTRAINT [' + @var5 + ']')
    ALTER TABLE [dbo].[Session] ALTER COLUMN [StartedAt] [datetime] NOT NULL
    ALTER TABLE [dbo].[Session] ADD CONSTRAINT [DF_dbo.Session_StartedAt] DEFAULT '2020-04-12T22:00:39.790Z' FOR [StartedAt]
    DECLARE @var6 nvarchar(128)
    SELECT @var6 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'AccessType';
    IF @var6 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var6 + ']')
    ALTER TABLE [dbo].[Device] ALTER COLUMN [AccessType] [int] NOT NULL
    ALTER TABLE [dbo].[Device] ADD CONSTRAINT [DF_dbo.Device_AccessType] DEFAULT 1 FOR [AccessType]
END

IF @CurrentMigration < '202003252030181_NullableSessionFinishTime'
BEGIN
    DECLARE @var7 nvarchar(128)
    SELECT @var7 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Session')
    AND col_name(parent_object_id, parent_column_id) = 'FinishedAt';
    IF @var7 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Session] DROP CONSTRAINT [' + @var7 + ']')
    ALTER TABLE [dbo].[Session] ALTER COLUMN [FinishedAt] [datetime] NULL
END

IF @CurrentMigration < '202003291927348_ModelGeneralization'
BEGIN
    IF object_id(N'[dbo].[FK_dbo.Device_dbo.CommunicationModule_CommModule_Type]', N'F') IS NOT NULL
        ALTER TABLE [dbo].[Device] DROP CONSTRAINT [FK_dbo.Device_dbo.CommunicationModule_CommModule_Type]
    IF object_id(N'[dbo].[FK_dbo.Device_dbo.HMI_HMI_Type_HMI_FirmwareVersion]', N'F') IS NOT NULL
        ALTER TABLE [dbo].[Device] DROP CONSTRAINT [FK_dbo.Device_dbo.HMI_HMI_Type_HMI_FirmwareVersion]
    IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_CommModule_Type' AND object_id = object_id(N'[dbo].[Device]', N'U'))
        DROP INDEX [IX_CommModule_Type] ON [dbo].[Device]
    IF EXISTS (SELECT name FROM sys.indexes WHERE name = N'IX_HMI_Type_HMI_FirmwareVersion' AND object_id = object_id(N'[dbo].[Device]', N'U'))
        DROP INDEX [IX_HMI_Type_HMI_FirmwareVersion] ON [dbo].[Device]
    ALTER TABLE [dbo].[Device] ADD [Group] [nvarchar](max)
    ALTER TABLE [dbo].[Device] ADD [HardwareInfo] [nvarchar](max) NOT NULL DEFAULT ''
    ALTER TABLE [dbo].[Device] ADD [ConnectedModuleInfo] [nvarchar](max)
    DECLARE @var8 nvarchar(128)
    SELECT @var8 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'DeviceType';
    IF @var8 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var8 + ']')
    ALTER TABLE [dbo].[Device] DROP COLUMN [DeviceType]
    DECLARE @var9 nvarchar(128)
    SELECT @var9 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'FirmwareVersion';
    IF @var9 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var9 + ']')
    ALTER TABLE [dbo].[Device] DROP COLUMN [FirmwareVersion]
    DECLARE @var10 nvarchar(128)
    SELECT @var10 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'OrderNumber';
    IF @var10 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var10 + ']')
    ALTER TABLE [dbo].[Device] DROP COLUMN [OrderNumber]
    DECLARE @var11 nvarchar(128)
    SELECT @var11 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'AccessType';
    IF @var11 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var11 + ']')
    ALTER TABLE [dbo].[Device] DROP COLUMN [AccessType]
    DECLARE @var12 nvarchar(128)
    SELECT @var12 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'CommModule_Type';
    IF @var12 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var12 + ']')
    ALTER TABLE [dbo].[Device] DROP COLUMN [CommModule_Type]
    DECLARE @var13 nvarchar(128)
    SELECT @var13 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'HMI_Type';
    IF @var13 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var13 + ']')
    ALTER TABLE [dbo].[Device] DROP COLUMN [HMI_Type]
    DECLARE @var14 nvarchar(128)
    SELECT @var14 = name
    FROM sys.default_constraints
    WHERE parent_object_id = object_id(N'dbo.Device')
    AND col_name(parent_object_id, parent_column_id) = 'HMI_FirmwareVersion';
    IF @var14 IS NOT NULL
        EXECUTE('ALTER TABLE [dbo].[Device] DROP CONSTRAINT [' + @var14 + ']')
    ALTER TABLE [dbo].[Device] DROP COLUMN [HMI_FirmwareVersion]
    DROP TABLE [dbo].[CommunicationModule]
    DROP TABLE [dbo].[HMI]
END

IF @CurrentMigration < '202003311515416_DeviceIsActive'
BEGIN
    ALTER TABLE [dbo].[Device] ADD [IsActive] [bit] NOT NULL DEFAULT 1
END

IF @CurrentMigration < '202004010955138_Settings'
BEGIN
    CREATE TABLE [dbo].[Setting] (
        [Name] [nvarchar](128) NOT NULL,
        [Value] [nvarchar](max) NOT NULL,
        [Description] [nvarchar](max),
        CONSTRAINT [PK_dbo.Setting] PRIMARY KEY ([Name])
    )
END

