<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Definitions.wxi ?>

  <Fragment>
    <!-- Product Components -->
    <ComponentGroup Id="ProductComponents">

      <!-- Shortcut -->
      <ComponentRef Id="ProgramMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartupShortcut" />
      
      <!-- Registry entry -->
      <ComponentRef Id="ServerAddressRegistryEntry" />
    </ComponentGroup>

    <!-- Start menu shortcut -->
    <Component Id="ProgramMenuShortcut"
               Guid="{0995664D-AE63-4DD6-B894-708A99611370}"
               Directory="InstallProgramMenuFolder">

      <Shortcut Id="ProgramMenuShortcut"
                Name="$(var.AppName)"
                Target="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="icon.exe"/>

      <!-- Unique key for this component/shortcut -->
      <RegistryValue Root="HKCU" Key="SOFTWARE\Hakan Yildizhan\DeviceManager" Name="StartMenuShortcut" Value="1" Type="integer" KeyPath="yes" />

      <!--Remove start menu items -->
      <RemoveFolder Id="RemoveStartMenu" On="uninstall" />

    </Component>

    <!-- Desktop shortcut -->
    <Component Id="DesktopShortcut" 
               Guid="{0995664D-AE63-4DD6-B894-708A99611371}" 
               Directory="DesktopFolder">

      <Shortcut Id="DesktopShortcut"
                Name="$(var.AppName)"
                Target="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon='icon.exe' />

      <!-- Unique key for this component/shortcut -->
      <RegistryValue Root="HKCU" Key="SOFTWARE\Hakan Yildizhan\DeviceManager" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes"/>

      <!--Remove desktop shortcut -->
      <RemoveFolder Id='RemoveDesktop' On="uninstall"/>

    </Component>

    <!-- Startup shortcut -->
    <Component Id="StartupShortcut" 
               Guid="{E5AE36F7-872A-41EA-B43C-8DFF1ED2D325}" 
               Directory="StartupFolder">

      <Shortcut Id="StartupShortcut"
                Name="$(var.AppName)"
                Target="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon='icon.exe' />

      <!-- Unique key for this component/shortcut -->
      <RegistryValue Root="HKCU" Key="SOFTWARE\Hakan Yildizhan\DeviceManager" Name="StartupShortcut" Value="1" Type="integer" KeyPath="yes"/>

      <!--Remove desktop shortcut -->
      <RemoveFolder Id='RemoveStartup' On="uninstall"/>

    </Component>

    <!-- Server address registry entry -->
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ServerAddressRegistryEntry" Guid="{9B4BFD61-693E-421A-AE55-1F0E43A26642}">

        <RegistryKey Root="HKCU"
                     Key="Software\Hakan Yildizhan\DeviceManager">
          <RegistryValue Type="string" Name="ServerAddress" Value="[SERVERADDRESS]" />
        </RegistryKey>

      </Component>
    </DirectoryRef>
    
  </Fragment>
</Wix>
