<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
	<?include Definitions.wxi ?>

	<Fragment>
		
		<Property Id="OS_MAJOR_VERSION">
		  <RegistrySearch Id="OS_MAJOR_VERSION_RegistrySearch"
						  Root="HKLM"
						  Key="Software\Microsoft\Windows NT\CurrentVersion"
						  Name="CurrentMajorVersionNumber"
						  Type="raw"/>
		</Property>
		
		<!-- Product Components -->
		<ComponentGroup Id="ProductComponents">

			<!-- Shortcut -->
			<ComponentRef Id="ProgramMenuShortcut" />
			<ComponentRef Id="ProgramMenuShortcutWin10" />
			<ComponentRef Id="DesktopShortcut" />
			<ComponentRef Id="StartupShortcut" />
			
			<!-- Additional files -->
			<ComponentRef Id="AppIconFile" />

			<!-- Registry entries -->
			<ComponentRef Id="ServerAddressRegistryEntry" />
			<ComponentRef Id="ExecutablePath" />
		</ComponentGroup>

		<!-- Start menu shortcut for operating systems < Windows 10 -->
		<Component Id="ProgramMenuShortcut"
				   Guid="{0995664D-AE63-4DD6-B894-708A99611370}"
				   Directory="InstallProgramMenuFolder">

			<Condition>
				<![CDATA[(OS_MAJOR_VERSION < "#10")]]>
			</Condition>

			<Shortcut Id="ProgramMenuShortcut"
					  Name="$(var.AppName)"
					  Target="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon="icon.exe">
				
			</Shortcut>

			<!-- Unique key for this component/shortcut -->
			<RegistryValue Root="HKCU" 
						   Key="SOFTWARE\Hakan Yildizhan\DeviceManager" 
						   Name="StartMenuShortcut" 
						   Value="[InstallProgramMenuFolder]Device Manager.lnk"
						   Type="string"
						   KeyPath="yes" />

			<!--Remove start menu items -->
			<RemoveFolder Id="RemoveStartMenu" On="uninstall" />

		</Component>

		<!-- Start menu shortcut for Windows 10 (and above). -->
		<!-- Includes Application User Model ID (AUMID) and toast activator CLSID for Toast Notifications -->
		<Component Id="ProgramMenuShortcutWin10"
				   Guid="{6927BE60-1350-4629-9656-3514BEF26DA4}"
				   Directory="InstallProgramMenuFolder">

			<Condition>
				<![CDATA[(OS_MAJOR_VERSION >= "#10")]]>
			</Condition>

			<Shortcut Id="ProgramMenuShortcutWin10"
					  Name="$(var.AppName)"
					  Target="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon="icon.exe">

				<!--AUMID-->
				<ShortcutProperty Key="System.AppUserModel.ID" Value="DeviceManager.Client" />

				<!--COM CLSID-->
				<ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{EB975E8A-0662-4C64-9F19-81EB11672550}"/>

			</Shortcut>

			<!-- Unique key for this component/shortcut -->
			<RegistryValue Root="HKCU"
						   Key="SOFTWARE\Hakan Yildizhan\DeviceManager"
						   Name="StartMenuShortcut" 
						   Value="[InstallProgramMenuFolder]Device Manager.lnk"
						   Type="string" 
						   KeyPath="yes" />

			<!--Remove start menu items -->
			<RemoveFolder Id="RemoveStartMenuWin10" On="uninstall" />

		</Component>

		<!-- Desktop shortcut -->
		<Component Id="DesktopShortcut"
				   Guid="{0995664D-AE63-4DD6-B894-708A99611371}"
				   Directory="DesktopFolder">

			<Shortcut Id="DesktopShortcut"
					  Name="$(var.AppName)"
					  Target="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon='icon.exe' />

			<!-- Unique key for this component/shortcut -->
			<RegistryValue Root="HKCU"
						   Key="SOFTWARE\Hakan Yildizhan\DeviceManager"
						   Name="DesktopShortcut"
						   Value="[DesktopFolder]Device Manager.lnk"
						   Type="string"
						   KeyPath="yes"/>

			<!--Remove desktop shortcut -->
			<RemoveFolder Id='RemoveDesktop' On="uninstall"/>

		</Component>

		<!-- Startup shortcut -->
		<Component Id="StartupShortcut"
				   Guid="{E5AE36F7-872A-41EA-B43C-8DFF1ED2D325}"
				   Directory="StartupFolder">

			<Shortcut Id="StartupShortcut"
					  Name="$(var.AppName)"
					  Target="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon='icon.exe' />

			<!-- Unique key for this component/shortcut -->
			<RegistryValue Root="HKCU" 
						   Key="SOFTWARE\Hakan Yildizhan\DeviceManager"
						   Name="StartupShortcut" 
						   Value="[StartupFolder]Device Manager.lnk" 
						   Type="string" 
						   KeyPath="yes"/>

			<!--Remove desktop shortcut -->
			<RemoveFolder Id='RemoveStartup' On="uninstall"/>

		</Component>

		<!-- AppIcon file -->
		<Component Id="AppIconFile"
				   Guid="{060DD024-9CB1-4DCE-AAAE-72CA2561E823}"
				   Directory="RoamingFolder">
			
			<File Source="Files\AppIcon.png" />
		
			<!-- Unique key for this component/shortcut -->
			<RegistryValue Root="HKCU" 
						   Key="SOFTWARE\Hakan Yildizhan\DeviceManager" 
						   Name="AppIconFile" 
						   Value="[RoamingFolder]Files\AppIcon.png" 
						   Type="string" 
						   KeyPath="yes"/>

			<!--Remove desktop shortcut -->
			<RemoveFolder Id='RemoveAppIconFile' On="uninstall"/>
		</Component>

		<!-- Registry entries -->
		<DirectoryRef Id="INSTALLFOLDER">
			
			<!-- Server address registry entry -->
			<Component Id="ServerAddressRegistryEntry" Guid="{9B4BFD61-693E-421A-AE55-1F0E43A26642}">

				<RegistryKey Root="HKCU"
							 Key="Software\Hakan Yildizhan\DeviceManager">
					<RegistryValue Type="string" Name="ServerAddress" Value="[SERVERADDRESS]" />
				</RegistryKey>

			</Component>

			<!-- Application executable install path registry entry -->
			<Component Id="ExecutablePath" Guid="{0CB2C0F3-690F-4166-B102-2E8C457A3DC9}">

				<RegistryKey Root="HKCU"
							 Key="Software\Hakan Yildizhan\DeviceManager">
					<RegistryValue Type="string" Name="ExecutablePath" Value="[INSTALLFOLDER]DeviceManager.Client.TrayApp.exe" />
				</RegistryKey>
				
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
