<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Definitions.wxi ?>

  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="InstallProgramMenuFolder" Name="$(var.AppName)" />
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop"/>

      <!-- Program Files folder -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.AppName)" />
      </Directory>

    </Directory>

    <!-- Installed files -->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\DeviceManager.Client.TrayApp\bin\$(var.Configuration)\"/>

  </Fragment>
</Wix>
