<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Definitions.wxi ?>

  <Product Id="*"
           UpgradeCode="F2CADBA5-7ED4-468E-94CC-310AA8A4C3E6"
           Name="$(var.AppName)" 
           Language="1033"
           Version="$(var.BuildVersion)" 
           Manufacturer="Hakan Yildizhan">
    
		<Package Id="*"
             Description="Installer for Device Manager"
             Keywords="Installer"
             Manufacturer="Hakan Yildizhan"
             Platform="x64"
						 InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser"  />

    <!-- Downgrade error message -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

    <!-- Include .cab file into .msi file -->
		<MediaTemplate EmbedCab="yes" />

    <!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" 
             Title="DeviceManager.Client.Setup" 
             Display='expand' 
             Level='1' 
             ConfigurableDirectory='INSTALLFOLDER' AllowAdvertise='no' Absent='disallow'>

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
		</Feature>

    <!-- Define main app icon -->
    <Icon Id="icon.exe" SourceFile="$(var.BasePath)\DeviceManager.Client.TrayApp.exe" />
    <Property Id="ARPPRODUCTICON" Value="icon.exe" />

    <!-- App license -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
    
    <!-- Installer UI -->
    <UIRef Id="WixUI_DeviceManager_Client_UI" />
    <!--<UIRef Id="WixUI_ErrorProgressText" />-->
    
    <!-- Binary definition for custom actions -->
    <Binary Id='DeviceManager.Setup.CustomActions.CA.dll' SourceFile='..\CustomActions\bin\$(var.Configuration)\DeviceManager.Setup.CustomActions.CA.dll'/>

    <!-- Checks if the given URL is a valid server address  -->
    <!-- If it is valid, sets TESTRESULT to "1"  -->
    <CustomAction Id='CustomAction_TestServer' 
                  BinaryKey='DeviceManager.Setup.CustomActions.CA.dll' 
                  DllEntry='TestServer' 
                  Execute='immediate'
                  Return='check'/>

    <!-- Checks if the user already has a config file that contains a valid server URL -->
    <!-- If so, sets TESTRESULT to "1" and sets the SERVERADDRESS property -->
    <CustomAction Id='CustomAction_CheckServerConfig'
                  BinaryKey='DeviceManager.Setup.CustomActions.CA.dll'
                  DllEntry='CheckServerConfig'
                  Execute='immediate'
                  Return='check'/>

    <!-- Call CustomAction_CheckServerConfig as soon as this dialog is displayed -->
    <!--<InstallExecuteSequence>
      <Custom Action='CustomAction_CheckServerConfig' After='CostFinalize' />
    </InstallExecuteSequence>-->
	</Product>

</Wix>
