<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	
  <Fragment>

    <!-- Components -->
    <ComponentGroup Id="Version110DatabaseConfiguration">
      <ComponentRef Id="SqlComponent110SAUser" />
      <ComponentRef Id="SqlComponent110WinUser" />
    </ComponentGroup>

    <Binary Id="Data110Bin" SourceFile="Scripts/OnInstall/Data_v1.1.0.sql"></Binary>

    <DirectoryRef Id="INSTALLFOLDER">

      <Component Id="SqlComponent110SAUser" Guid="{1CBC6DBD-4134-42E4-8B4C-E9395D015F7A}" KeyPath="yes">
        <Condition><![CDATA[DB_AUTHENTICATIONMODE = "1"]]></Condition>

        <sql:SqlScript Id="SqlScriptData110SAUser"
                       ExecuteOnInstall="yes"
                       ExecuteOnUninstall="no"
                       BinaryKey="Data110Bin"
                       ContinueOnError="no"
                       User="SQLUser" SqlDb="SqlDatabaseSAUser" />

      </Component>

      <Component Id="SqlComponent110WinUser" Guid="{56B4EC44-B31B-4E82-9E2F-DA3A30A821B8}" KeyPath="yes">
        <Condition><![CDATA[DB_AUTHENTICATIONMODE = "0"]]></Condition>

        <sql:SqlScript Id="SqlScriptData110WinUser"
                       ExecuteOnInstall="yes"
                       ExecuteOnUninstall="no"
                       BinaryKey="Data110Bin"
                       ContinueOnError="no" SqlDb="SqlDatabaseWinUser" />

      </Component>

    </DirectoryRef>
    
	</Fragment>
</Wix>
