<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents"/>

    <!--<ComponentGroup Id="BinComponents" Directory="bin"/>
    <ComponentGroup Id="RoslynComponents" Directory="roslyn"/>
    <ComponentGroup Id="ClientLibrariesComponents" Directory="ClientLibraries"/>
    <ComponentGroup Id="ContentComponents" Directory="Content"/>
    <ComponentGroup Id="ViewsComponents" Directory="Views"/>-->
    


      <!--<Component Id="ProductComponent" Guid="{50C517EA-53D0-4996-81E3-B06CE0391185}">
        <File Id="libman.json" Source="..\..\Server\DeviceManager.Api\bin\Release\Publish\libman.json" />
        <File Id="Global.asax" Source="..\..\Server\DeviceManager.Api\bin\Release\Publish\Global.asax" />
        <File Id="Web.config" Source="..\..\Server\DeviceManager.Api\bin\Release\Publish\Web.config" />
      </Component>-->

    <!--<ComponentGroup Id="BinComponents" Directory="BIN">
      <Component Id="BinComponent" Guid="{AC3C77A4-3FF5-4763-814A-62F24FD9D1D7}">
        <File Id="Antlr3.Runtime.dll" Source="..\..\Server\DeviceManager.Api\bin\Release\Publish\bin\Antlr3.Runtime.dll" />
        <File Id="Antlr3.Runtime.pdb" Source="..\..\Server\DeviceManager.Api\bin\Release\Publish\bin\Antlr3.Runtime.pdb" />
        --><!-- And so on and on --><!--
      </Component>
    </ComponentGroup>-->
  </Fragment>
</Wix>
