<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
         xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
         xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
	<Fragment>

    <ComponentGroup Id="DeviceManagerDatabaseConfiguration">
      <ComponentRef Id="SqlComponentSAUser" />
      <ComponentRef Id="SqlComponentWinUser" />
    </ComponentGroup>

    <Binary Id="TablesBin" SourceFile="Scripts/Script_v1.0.0.0_Tables.sql"></Binary>
    <Binary Id="DataBin" SourceFile="Scripts/Script_v1.0.0.0_Data.sql"></Binary>
    <Binary Id="UserBin" SourceFile="Scripts/Script_v1.0.0.0_User.sql"></Binary>

    <util:User Id="SQLUser" Name="[DB_USER]" Password="[DB_PASSWORD]"></util:User>

    <DirectoryRef Id="INSTALLFOLDER">
      
      <Component Id="SqlComponentSAUser" Guid="8A1C82DB-1DD3-4FB5-8600-4F370FE1E04B">
        <Condition><![CDATA[DB_AUTHENTICATIONMODE = "1"]]></Condition>
        
        <sql:SqlDatabase Id="SqlDatabaseSAUser" 
                         Database="DeviceManager" 
                         Server="[DB_SERVER]" 
                         CreateOnInstall="yes" 
                         DropOnUninstall="yes" 
                         User="SQLUser" 
                         ContinueOnError="no">
          
          <sql:SqlScript Id="SqlScriptTablesSAUser" 
                         ExecuteOnInstall="yes" 
                         ExecuteOnUninstall="no" 
                         BinaryKey="TablesBin" 
                         ContinueOnError="no"
                         User="SQLUser" />

          <sql:SqlScript Id="SqlScriptDataSAUser"
                         ExecuteOnInstall="yes"
                         ExecuteOnUninstall="no"
                         BinaryKey="DataBin"
                         ContinueOnError="no"
                         User="SQLUser" />

          <sql:SqlScript Id="SqlScriptUserSAUser"
                         ExecuteOnInstall="yes"
                         ExecuteOnUninstall="no"
                         BinaryKey="UserBin"
                         ContinueOnError="no"
                         User="SQLUser" />
          
        </sql:SqlDatabase>
        
        <CreateFolder/>
        
      </Component>

      <Component Id="SqlComponentWinUser" Guid="C2FB0F78-3F46-4759-948F-52393CB466AD">
        <Condition><![CDATA[DB_AUTHENTICATIONMODE = "0"]]></Condition>

        <sql:SqlDatabase Id="SqlDatabaseWinUser"
                         Database="DeviceManager"
                         Server="[DB_SERVER]"
                         CreateOnInstall="yes"
                         DropOnUninstall="yes"
                         ContinueOnError="no">

          <sql:SqlScript Id="SqlScriptTablesWinUser"
                         ExecuteOnInstall="yes"
                         ExecuteOnUninstall="no"
                         BinaryKey="TablesBin"
                         ContinueOnError="no" />

          <sql:SqlScript Id="SqlScriptDataWinUser"
                         ExecuteOnInstall="yes"
                         ExecuteOnUninstall="no"
                         BinaryKey="DataBin"
                         ContinueOnError="no" />

          <sql:SqlScript Id="SqlScriptUserWinUser"
                         ExecuteOnInstall="yes"
                         ExecuteOnUninstall="no"
                         BinaryKey="UserBin"
                         ContinueOnError="no" />

        </sql:SqlDatabase>

        <CreateFolder/>

      </Component>
      
    </DirectoryRef>
	</Fragment>
</Wix>
