<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!-- Will default to C:\ if that is the main disk-->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- C:\inetpub-->
      <!--<Directory Id="INETPUB" Name="inetpub">-->
      <Directory Id="IISROOT" Name='WebDir'>

        <!-- c:\inetpub\DeviceManager-->
        <Directory Id="INSTALLFOLDER" Name="DeviceManager" >

          <Directory Id="bin" Name="bin">
            <Directory Id="roslyn" Name="roslyn"/>
          </Directory>

          <Directory Id="ClientLibraries" Name="ClientLibraries"/>

          <Directory Id="Content" Name="Content"/>

          <Directory Id="Views" Name="Views"/>

        </Directory>

      </Directory>
    </Directory>

    <!-- Installed files -->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\..\Server\DeviceManager.Api\bin\Release\Publish\"/>

  </Fragment>
</Wix>
