<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" />
    <Condition Message="[ProductName] requires .NET Framework 4.6.1 or higher.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>

    <!-- Check to see if IIS is installed. It it's not, error out. -->
    <Property Id="IIS_MAJOR_VERSION">
      <RegistrySearch Id="CheckIISVersion"
                                 Root="HKLM"
                                 Key="SOFTWARE\Microsoft\InetStp"
                                 Name="MajorVersion"
                             Type="raw" />
    </Property>

    <Condition Message="IIS must be installed">
      Installed OR IIS_MAJOR_VERSION
    </Condition>

    <!-- Go find the IIS root directory from the registry. On most machines
         that defaults to C:\inetpub\wwwroot. This will be the directory we
         install into. -->
    <Property Id="IISROOT">
      <RegistrySearch Id="IISROOT"
                                 Type="directory"
                                 Root="HKLM"
                                 Key="Software\Microsoft\InetStp"
                                 Name="PathWWWRoot" />
    </Property>
    <Condition Message="IIS does not appear to be installed correctly, the root directory is not set.">
      Installed OR IISROOT
    </Condition>
    
	</Fragment>
</Wix>
