a.spinner {
    width: 100px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
    will-change: transform;
    transition: all 0.2s ease;
    border: 2px solid rgb(0,123,255);
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    color: rgb(0,123,255);
    outline: none;
    text-align: center;
    display: block;
    margin: 25px auto 25px auto;
    vertical-align:central;
}

    a.spinner:hover {
        background: rgb(0,123,255);
        color: #ffffff;
    }

    a.spinner:active {
        font-size: 15px;
        transform: translateY(1px);
    }

    a.spinner.active {
        font-size: 0;
        border-radius: 25px;
        width: 50px;
        background: transparent;
    }

    a.spinner.loader {
        border-right: 2px solid #ffffff;
        animation: loader 0.4s linear infinite;
    }

    a.spinner.success {
        background: #3BB873;
        border-color: #3BB873;
        font-size: 14px;
        color: #ffffff;
    }

    a.spinner.partial-success {
        background: rgb(255,193,7);
        border-color: rgb(255,193,7);
        font-size: 12px;
        color: #ffffff;
    }

    a.spinner.error {
        background: rgb(220,53,69);
        border-color: rgb(220,53,69);
        font-size: 14px;
        color: #ffffff;
    }

@keyframes loader {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}