@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-lg-12 content">
        <h2>Import hardware list</h2>
        <div id="rootwizard">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul>
                            <li class="nav-item tab">
                                <a class="nav-link" href="#tab1" data-toggle="tab">Select File</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">></a>
                            </li>
                            <li class="nav-item tab">
                                <a class="nav-link disabled" href="#tab2" data-toggle="tab">Preview & Confirm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">></a>
                            </li>
                            <li class="nav-item tab">
                                <a class="nav-link disabled" href="#tab3" data-toggle="tab">Finish</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                    <div class="tab-content">
                        <p>Excel (*.xls/*.xlsx) and Offline OneNote Section files (*.one) are supported.</p>
                        
                        <div id="excel-input" class="upload-group">
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Excel file
                            </label>
                        </div>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                </div>
                            </div>
                        </div>
                        
                        <div id="oneNote-input" class="upload-group">
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                OneNote Notebook/Section path
                            </label>
                        </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">OneNote Section Path</span>
                                </div>
                                <input id="inputOneNotePath" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                            </div>
                            <div class="input-group">
                                <div id="pageName" class="input-group input-group-sm mb-3">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">OneNote page name</span>
                                    </div>
                                    <input id="inputPageName" type="text" class="form-control" onkeyup="onPageNameSelected()" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="tab-content">
                        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { id = "fileUpload", enctype = "multipart/form-data" }))
                        {
                            <button id="upload" hidden="hidden" type="submit">In progress</button>
                        }
                        <span id="upload-finished-message" hidden="hidden">Import is completed. Click Next to confirm data import.</span>
                        <span id="upload-finished-message-error" hidden="hidden">An error occurred during upload. Please try again later.</span>
                        @using (Html.BeginForm("ImportData", "Home", FormMethod.Post, new { id = "importData", enctype = "multipart/form-data" }))
                        {
                            @*<div id="hardwarePreview" hidden="hidden"></div>*@
                            @*<button id="confirm" type="submit" class="btn btn-primary">Confirm</button>*@
                        }
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div class="tab-content">
                        <span id="import-finished-message" hidden="hidden">Hardware list was imported successfully.</span>
                        <span id="import-finished-message-error" hidden="hidden">An error occurred during the operation. Please try again later.</span>
                    </div>
                </div>

                <ul class="pager wizard">
                    <li class="next"><a href="#" class="spinner" data-content="Done">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#rootwizard').bootstrapWizard({
            onTabShow: function (tab, navigation, index) {
                // set progress bar
                var total = navigation.find('li.tab').length;
                var current = index + 1;
                console.log(current);

                function makeNextActive() {
                    $('#rootwizard .wizard li.next').removeClass('disabled');
                    $('#rootwizard .wizard li.next').unbind('click', false);
                    $('#rootwizard .wizard li.next a').unbind('click', false);
                }

                function makeNextDisabled() {
                    $('#rootwizard .wizard li.next').addClass('disabled');
                    $('#rootwizard .wizard li.next').bind('click', false);
                    $('#rootwizard .wizard li.next a').bind('click', false);
                }

                // initially make Next button disabled
                makeNextDisabled();

                // tab 1
                // make Next clickable when user selects a file to upload
                if (current === 1) {
                    $('#rootwizard input#inputGroupFile04').change(function () {
                        $(this).next('.custom-file-label').html(this.files.item(0).name);
                        if (this.files.item(0).name.endsWith('one')) {
                            $('div#pageName').removeAttr('hidden');
                        }
                        else {
                            makeNextActive();
                        }
                        //makeNextActive();
                    });
                }

                // tab 2
                // upload file automatically
                if (current === 2) {
                    $('#rootwizard form#fileUpload').submit();
                    setSpinner(true);
                }

                // tab 3
                //
                if (current === 3) {
                    setSpinner(true);
                    var hardwareList = [];
                    $('#importData tr').each(function (row, tr) {
                        hardwareList.push({
                            Group: $(tr).find('td:eq(0)').text().trim(),
                            Name: $(tr).find('td:eq(1)').text().trim(),
                            Info: $(tr).find('td:eq(2)').text().trim(),
                            PrimaryAddress: $(tr).find('td:eq(3)').text().trim(),
                            SecondaryAddress: $(tr).find('td:eq(4)').text().trim(),
                            ConnectedModuleInfo: $(tr).find('td:eq(5)').text().trim()
                        });
                    });

                    $.ajax({
                        url: '/Home/ImportData',
                        type: 'POST',
                        data: JSON.stringify({ 'hardwareList': hardwareList }),
                        dataType: 'json',
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        processData: false,
                        success: function (data) {
                            //$(confirmButton).removeClass('loader active');

                            if (data.Error === true) {
                                $('#import-finished-message-error').removeAttr('hidden');
                            }
                            else {
                                $('#import-finished-message').removeAttr('hidden');
                                window.setTimeout(function () {
                                    window.location.href = '/Home';
                                }, 4000);
                            }
                            setSpinner(false);
                        },
                        error: function (xhr, error, status) {
                            console.log(error, status);
                            $('#import-finished-message-error').removeAttr('hidden');
                            setSpinner(false);
                        }
                    });
                }
            },

            onNext:
                // Tabs other than the active one will be disabled
                // Next button text will change to its data-content attribute value
                function onNext(previousTabInfo) {
                    var previousTab = previousTabInfo[0];
                    var nextTab = $(previousTab).next().next('.tab');

                    $(previousTab).find('a').addClass('disabled');
                    $(nextTab).find('a').removeClass('disabled');

                    var isLastTab = $(nextTab).next().length === 0;
                    if (isLastTab) {
                        $('li.next').addClass('disabled');
                        var nextButton = $('li.next').find('a[data-content]');
                        $(nextButton).text($(nextButton).attr('data-content'));
                    }
                }
        });
    });

    function onFileSelected() {
        var name = document.getElementById('inputGroupFile04');
        $(name).next('.custom-file-label').html(name.files.item(0).name);

    }

    function onPageNameSelected() {
        if ($('#inputPageName').val()) {
            $('#rootwizard .wizard li.next').removeClass('disabled');
            $('#rootwizard .wizard li.next').unbind('click', false);
            $('#rootwizard .wizard li.next a').unbind('click', false);
        }
    }

    $('#oneNote-input input.form-check-input').change(function() {
        if ($(this).is(":checked")) {
            $('#inputOneNotePath').removeAttr('disabled');
            $('#inputPageName').removeAttr('disabled');
            $('#inputGroupFile04').attr("disabled", 'disabled');
        }
    });

    $('#excel-input input.form-check-input').change(function() {
        if ($(this).is(":checked")) {
            $('#inputOneNotePath').attr('disabled', 'disabled');
            $('#inputPageName').attr('disabled', 'disabled');
            $('#inputGroupFile04').removeAttr('disabled');
        }      
    });

    function setSpinner(state) {
        if (state === true) {
            $('#rootwizard .wizard li.next a').addClass('loader active');
        }
        else {
            $('#rootwizard .wizard li.next a').removeClass('loader active');
        }
    }

    $('#fileUpload').submit(function (e) {
        e.preventDefault(); // stop the standard form submission

        var formData = new FormData();
        formData.append('File', $('input#inputGroupFile04').prop('files')[0]);
        formData.append('OneNotePageName', $('input#inputPageName').val());
        formData.append('OneNotePath', $('input#inputOneNotePath').val());

        //var viewModel = [];
        //viewModel.push({
        //    File: $('input#inputGroupFile04').prop('files')[0],
        //    PageName: $('input#inputPageName').val()
        //});

        //var uploadButton = $('button#upload');
        //$(uploadButton).addClass('loader active');

        function makeButtonUnclickable(btn) {
            $(btn).click(function () {
                var input = this;
                input.disabled = true;
            });
        }

        function makeNextActive() {
            $('#rootwizard .wizard li.next').removeClass('disabled');
            $('#rootwizard .wizard li.next').unbind('click', false);
            $('#rootwizard .wizard li.next a').unbind('click', false);
        }

        $.ajax({
            url: this.action,
            type: 'POST',
            //data: JSON.stringify({ 'viewModel': viewModel }),//formdata,
            data: formData,
            //dataType: 'json',
            cache: false,
            //contentType: 'application/json',//'application/json; charset=utf-8',//false,
            //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            contentType: false,
            processData: false,
            success: function (data) {
                //$(uploadButton).removeClass('loader active');

                if (data.Error === true) {
                    //$(uploadButton).text('Error');
                    //$(uploadButton).addClass('error animated pulse');
                    $('div#upload-error').removeAttr('hidden');
                    $('span#upload-finished-message-error').removeAttr('hidden');
                }
                else {
                    //$(uploadButton).text('Success');
                    //$(uploadButton).addClass('success animated pulse');
                    $('div#upload-error').hide();

                    $('span#upload-finished-message').removeAttr('hidden');
                    $('#importData').html(data.Message);
                    //$('#hardwarePreview').removeAttr('hidden');
                    makeNextActive();
                }
                setSpinner(false);
                //makeButtonUnclickable(uploadButton);
                //console.log('Error: ' + data.error);
            },
            error: function (xhr, error, status) {
                console.log(error, status);
                //$(uploadButton).text('Error');
                //$(uploadButton).addClass('error animated pulse');
                //makeButtonUnclickable(uploadButton);
                $('span#upload-finished-message-error').removeAttr('hidden');
                setSpinner(false);
            }
        });
    });

</script>

