@{
    ViewBag.Title = "Settings";
}

@model Dictionary<string, string>

<div class="row">
    <div class="col-lg-12 content">
        <h2>Server Settings</h2>
        <form class="content">
            @foreach (var item in Model)
            {
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">@item.Key</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="colFormLabel" placeholder="@item.Value" disabled>
                    </div>
                </div>
            }
        </form>
    </div>
</div>
